/* line 21, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
#items {
  display: block;
  border: solid .1px;
  padding: 2em;
  overflow: hidden;
  color: #676565;
  margin-top: 4em;
  box-shadow: 7px 5px 3px #ccc;
  font-family: 'Mukta Vaani', sans-serif;
  font-size: 15px;
}

/* line 33, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
span#time {
  color: #CF5300;
}

/* line 37, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
span#miles {
  color: forestgreen;
}

/* line 41, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
div #center {
  text-align: center;
  margin-top: -1em;
  text-transform: uppercase;
  font-family: 'Mukta Vaani', sans-serif;
  font-size: 19px;
}

/* line 49, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
.table {
  display: table;
}

/* line 53, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
.row {
  display: table-row;
}

/* line 57, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
.column {
  display: table-cell;
  vertical-align: top;
}

/* line 62, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
#new-post {
  float: right;
  padding-bottom: .5em;
}

/* line 67, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
#img-here {
  color: lightgreen;
}

/* line 71, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
#img-none {
  color: red;
}

/* line 75, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
#link {
  text-align: center;
}

/* line 79, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
.btn {
  background-color: #edf0f5;
}
/* line 81, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
.btn a {
  color: gray;
}
/* line 84, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
.btn a:visited {
  color: gray;
}

/* line 89, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
h1 {
  width: 100%;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
}

/* line 103, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
img {
  width: 550px;
  height: 425px;
}

/* line 108, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
hr {
  border-color: #b7b6b6;
}

/* line 112, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
#deets {
  align-self: center;
}

/* line 115, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
#deets a {
  position: relative;
  color: gray;
  background: #edf0f5;
  border-radius: 9%;
  align-items: center;
  padding: .5em;
}

/* line 124, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
#deets a:hover {
  background-color: lightgray;
}

/* line 129, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
#notice {
  margin-bottom: 1.7em;
  text-align: center;
}

/* line 134, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
#img-section {
  float: right;
  margin-top: -6em;
}

/* line 139, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
#img-section img {
  max-width: 450px;
  max-height: 325px;
}

/* line 144, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
#section {
  float: left;
}

/* line 148, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
.tooltip .tooltiptext {
  top: -5px;
  left: 105%;
}

/* =======================================
PRLX
======================================= */
/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
/* line 160, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* ============================================================
  SECTIONS
============================================================ */
/* line 167, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
section.module:last-child {
  margin-bottom: 0;
}

/* line 170, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}

/* line 175, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}

/* line 180, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
section.module p:last-child {
  margin-bottom: 0;
}

/* line 183, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
section.module.content {
  padding: 40px 0;
}

/* line 186, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
section.module.parallax {
  height: 483px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: -8em;
  margin-left: -5em;
  margin-right: -3em;
}

/* line 196, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 10px;
  font-weight: 200;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 3.4em;
}

/* line 206, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
section.module.parallax h4 {
  color: white;
  text-align: center;
  font-family: 'Rochester', cursive;
  font-size: 48px;
  margin-top: -36px;
}

/* line 216, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
section.module.parallax h4 span {
  color: #f1e767;
  font-size: 69px;
}

/* line 222, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
section.module.parallax-1 {
  background-image: url("https://images.pexels.com/photos/196356/pexels-photo-196356.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  opacity: .7;
}

/* line 227, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
section.new-module.parallax-1 {
  background-image: url("https://images.pexels.com/photos/221004/pexels-photo-221004.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  opacity: .7;
  height: 375px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: -8em;
  margin-left: -5em;
  margin-right: -3em;
}

/* line 240, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
section.new-module.parallax-1 h1 {
  width: 100%;
  font-size: 85px;
  text-align: center;
  color: rgba(255, 255, 255, 0.95);
  padding: 1.7em;
}

@media all and (min-width: 600px) {
  /* line 253, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
  section.module h2 {
    font-size: 42px;
  }

  /* line 256, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
  section.module p {
    font-size: 20px;
  }

  /* line 259, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
  section.module.parallax h1 {
    font-size: 10px;
  }
}
@media all and (min-width: 960px) {
  /* line 264, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
  section.module.parallax h1 {
    font-size: 91px;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-top: 1.2em;
  }

  /* line 279, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
  section.module.parallax h1 span#free {
    font-family: 'Vibur', cursive;
    font-size: 150px;
    color: #baecec;
    text-transform: capitalize;
    opacity: .9;
  }

  /* line 298, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
  section.module.parallax h1 span#for {
    letter-spacing: -9px;
    margin-left: -.1em;
    text-decoration: underline;
  }

  /* line 303, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
  section.module.parallax h1 span#all {
    font-size: 150px;
    color: #baecec;
    text-transform: capitalize;
    opacity: .9;
    font-family: 'Vibur', cursive;
    margin-left: -.25em;
  }
}
/* ==========================================
SHOW PAGE
========================================== */
/* line 318, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
.bck-btn {
  margin-top: -3em;
}

/* line 321, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
.btn a:hover {
  background-color: transparent;
  color: gray;
}

/* line 326, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
.post-title {
  font-size: 35px;
  text-align: center;
  margin-top: -1em;
  text-transform: uppercase;
  font-family: 'Mukta Vaani', sans-serif;
}

/* line 334, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
.post-description {
  text-align: justify;
  height: 45%;
  font-family: 'Mukta Vaani', sans-serif;
  font-size: 17px;
  margin: 3em 10em 3em 10em;
}

/* line 342, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
.post-image {
  margin-left: 5em;
}

/* line 346, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
.map-stuff {
  margin-top: -33.5em;
  margin-right: 5em;
  text-align: right;
}

/* line 353, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
img.mape {
  height: 374px;
  width: 484px;
}

/* line 358, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
.post-location {
  font-family: 'Mukta Vaani', sans-serif;
  font-size: 19px;
}

/* line 369, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
#contact-poster p {
  font-size: 15px;
  text-align: center;
}

/* line 374, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
#edit {
  margin-top: 8em;
  margin-left: 41em;
}

/* line 379, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
form {
  margin-top: 2em;
}

/* line 388, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
.show-field input {
  width: 19em;
}

/* line 392, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
.show-field textarea {
  width: 19em;
  height: 10em;
}

/* ===================================
THANKS
=================================== */
/* line 401, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
.thanks h1 {
  color: green;
  font-size: 53px;
}

/* line 407, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
.banana img {
  max-height: 200px;
  max-width: 200px;
  margin-left: 40em;
  margin-top: 2em;
}

/* line 414, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
.thanks h4 {
  text-align: center;
  margin-top: 4em;
}

/* line 419, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
.back {
  margin-left: 44em;
  margin-top: 2em;
}

/* ===================================
NEW
=================================== */
/* line 430, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
div.field {
  margin-top: 3em;
}

/* line 440, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
.show-field {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Mukta Vaani', sans-serif;
  font-size: 15px;
  margin-left: -1em;
}

/* line 448, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
div.actions {
  text-align: center;
}

/* line 452, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
button.form-back {
  margin-top: 3em;
}

/* line 456, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
.field p {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Mukta Vaani', sans-serif;
  font-size: 15px;
}

/* line 463, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
.field {
  text-align: center;
}

/* line 467, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
input[type=file] {
  margin-left: 28.2em;
}

/* line 471, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
input[type=button], input[type=reset], input[type=submit] {
  background-color: #7ac4dc;
  color: white;
  border: none;
  font-size: 14px;
  border-radius: 24px;
  padding: 0.5em;
}

/* line 481, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/posts.scss */
.show-submit {
  width: 100%;
  text-align: center;
}
/* line 1, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 25, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 29, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 39, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 44, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 49, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 53, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 59, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 66, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}
/* line 76, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 82, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}

/* line 87, /Users/tarahaseltine/Desktop/projects/FinalProject/app/assets/stylesheets/scaffolds.scss */
.success-popup {
  transition: .3s ease all;
  font-family: 'Roboto', sans-serif;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


 @import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
 body {
     padding-top: 15px;
     padding-left: 65px;
 }
 .navbar-twitch {
 	position: fixed;
 	top: 0px;
 	left: 0px;
 	width: 50px;
 	height: 100%;
 	border-radius: 0px;
 	border: 0px;
     z-index: 1030;
 }
 .navbar-twitch.open {
 	width: 240px;
 }
 .navbar-twitch > .container {
 	padding: 0px;
 	width: 100%;
 }
 .navbar-twitch .navbar-header,
 .navbar-twitch .navbar-brand {
 	float: none;
 	display: block;
 	width: 100%;
 	margin: 0px;
 }
 .navbar-twitch .navbar-brand {
     height: 50px;
 }
 .navbar-twitch > .container .navbar-brand {
 	padding: 0px;
 	margin: 0px;
 }
 .navbar-twitch > .container .navbar-brand > .small-nav {
 	display: block;
 }
 .navbar-twitch > .container .navbar-brand > .small-nav > span.logo,
 .navbar-twitch.open > .container .navbar-brand > .full-nav {
     display: block;
 	font-weight: bold;
 	padding: 15px 2px 15px 3px;
 	font-size: 12px;
  color: rgb(186, 236, 236);
 }
 .navbar-twitch.open > .container .navbar-brand {
 	width: 100%;
 	padding: 15px 15px 60px;
 	text-align: center;
 }
 .navbar-twitch.navbar-inverse > .container .navbar-brand > .small-nav > span.logo {
 	/*color: rgb(255, 255, 255);*/
 }
 .navbar-twitch .navbar-nav > li {
 	float: none;
 }
 .navbar-twitch > .container .full-nav {
 	display: none;
 }
 .navbar-twitch.open > .container .full-nav {
 	display: block;
 }
 .navbar-twitch.open > .container .small-nav {
 	display: none;
 }
 .navbar-twitch .navbar-collapse {
 	padding: 0px;
 }
 .navbar-twitch .navbar-nav {
 	float: none;
 	margin: 0px;
 }
 .navbar-twitch .navbar-nav > li > a {
 	padding: 0px;
 }
 .navbar-twitch .navbar-nav > li > a > span {
 	display: block;
 	font-size: 16pt;
 	padding: 13px 15px 13px 12px;
 }
 .navbar-twitch .tooltip,
 .navbar-twitch .tooltip .tooltip-inner {
 	max-width: auto;
 	white-space:nowrap;
 }
 .navbar-twitch-toggle {
 	position: fixed;
 	top: 5px;
 	left: 55px;
 }
 .navbar-twitch ~ .navbar-twitch-toggle > .nav-open {
 	display: inline-block;
 }
 .navbar-twitch ~ .navbar-twitch-toggle > .nav-close {
 	display: none;
 }
 .navbar-twitch.open ~ .navbar-twitch-toggle {
 	left: 245px;
 }
 .navbar-twitch.open ~ .navbar-twitch-toggle > .nav-open {
 	display: none;
 }
 .navbar-twitch.open ~ .navbar-twitch-toggle > .nav-close {
 	display: inline-block;
 }


 .btn-purple,
 .btn-purple:hover,
 .btn-purple:focus,
 .btn-purple:Active {
     color: rgb(255, 255, 255);
     background-color: rgb(86, 61, 124);
     border-color: rgb(111, 84, 153);
 }
 .btn-purple:hover,
 .btn-purple:focus,
 .btn-purple:Active {
     background-color: rgb(111, 84, 153);
     border-color: rgb(86, 61, 124);
 }

 .navbar {
     background-image: none !important;
 }
 .navbar-purple {
     background-color: rgb(86, 61, 124);
     border-color: rgb(111, 84, 153);
 }
 .navbar-purple .navbar-brand,
 .navbar-purple .navbar-nav > li > a,
 .navbar-purple .navbar-brand:hover,
 .navbar-purple .navbar-nav > li > a:hover,
 .navbar-purple .navbar-brand:focus,
 .navbar-purple .navbar-nav > li > a:focus {
     color: rgb(205, 191, 227);;
 }
 .navbar-purple .navbar-brand:hover,
 .navbar-purple .navbar-nav > li > a:hover,
 .navbar-purple .navbar-brand:focus,
 .navbar-purple .navbar-nav > li > a:focus,
 .navbar-purple .navbar-nav > .active > a,
 .navbar-purple .navbar-nav > .active > a:hover,
 .navbar-purple .navbar-nav > .active > a:focus {
     background-color: rgb(111, 84, 153);
     color: rgb(255, 255, 255);
 }
