<section class="new-module parallax parallax-1">
  <div class="container">
    <h1><strong>New Post</strong></h1>
  </div>
</section>

<section class="module content">
  <div class="container">

    <div class="new-from"><%= render 'form', post: @post %></div>

  </div>
</section>
<!-- <button class="form-back"><%= link_to 'Back', posts_path %></button> -->
