<div class="thanks"><h1>thanks for your message!</h1></div>
<div class="banana"><img src="https://img.clipartfest.com/65942d6adbdfae9764420a3087ffcd2d_hooray-clip-art-gallery-hooray-clipart_300-276.png" alt="nana"></div>
<div class="thanks"><h4> The poster will be in contact with you shortly via text</h4></div>


<div class="back"><button type="button" class="btn btn-info"><%= link_to 'Back to Posts', root_path %></button></div>
