// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #items {
//   display: inline-grid;
//   min-width: 31.1%;
//   max-width: 31.1%;
//   margin: .6em;
//   padding: 4em;
//   border: solid .1px;
//   margin-top: 5em;
//   border-radius: 3%;
//   padding-top: 4em;
//   min-height: 31em;
// }




#items {
  display: block;
  border: solid .1px;
  padding: 2em;
  overflow: hidden;
  color: #676565;
  margin-top: 4em;
  box-shadow: 7px 5px 3px #ccc;
  font-family: 'Mukta Vaani', sans-serif;
  font-size: 15px;
}

span#time {
  color: #CF5300;
}

span#miles {
  color: forestgreen;
}

div #center {
  text-align: center;
  margin-top: -1em;
  text-transform: uppercase;
  font-family: 'Mukta Vaani', sans-serif;
  font-size: 19px;
}

.table {
    display: table;
}

.row {
    display: table-row;
}

.column {
    display: table-cell;
    vertical-align: top;
}

#new-post {
  float: right;
  padding-bottom: .5em;
}

#img-here {
  color: lightgreen;
}

#img-none {
  color: red;
}

#link {
  text-align: center;
}

.btn{
  background-color: #edf0f5;
  a {
    color: gray;
  }
  a:visited {
    color: gray;
  }
}

h1 {
  width: 100%;
  text-align: center;
  // font-family: 'Amaranth', sans-serif;
  font-family: 'Julius Sans One', sans-serif;
  // font-family: 'Unica One', cursive;
  // font-family: 'Alegreya Sans SC', sans-serif;
  // font-family: 'Montserrat Alternates', sans-serif;
  // font-family: 'Monoton', cursive;
  // font-family: 'Sue Ellen Francisco', cursive;
  // font-family: 'Six Caps', sans-serif;
  // font-family: 'Dorsa', sans-serif;
}

img {
  width: 550px;
  height: 425px;
}

hr {
  border-color: #b7b6b6;

}
#deets {
  align-self: center;
}
#deets a{
  position: relative;
  color: gray;
  // border: .1px solid beige;
  background: #edf0f5;
  border-radius: 9%;
  align-items: center;
  padding: .5em;
}
#deets a:hover {
  background-color: lightgray;
}


#notice {
  margin-bottom: 1.7em;
  text-align: center;
}

#img-section {
  float: right;
  margin-top: -6em;
}

#img-section img {
  max-width: 450px;
  max-height: 325px;
}

#section {
  float: left;
}

.tooltip .tooltiptext {
    top: -5px;
    left: 105%;
}

/* =======================================
PRLX
======================================= */

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 483px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: -8em;
  margin-left: -5em;
  margin-right: -3em;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 10px;
  // line-height: 62px;
  font-weight: 200;
  text-align: center;
  // text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 3.4em;
}
section.module.parallax h4 {
  color: white;
  text-align: center;
  // font-family: 'Monoton', cursive;
  font-family: 'Rochester', cursive;

  font-size: 48px;
  margin-top: -36px;
}

section.module.parallax h4 span {
 color: rgba(241,231,103,1);
 font-size: 69px;
}


section.module.parallax-1 {
  background-image: url("https://images.pexels.com/photos/196356/pexels-photo-196356.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  opacity: .7;
}

section.new-module.parallax-1 {
  background-image: url("https://images.pexels.com/photos/221004/pexels-photo-221004.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  opacity: .7;
  height: 375px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: -8em;
  margin-left: -5em;
  margin-right: -3em;

}
section.new-module.parallax-1 h1{
  width: 100%;
  // margin-left: -2em;
  // margin-top: 2.2em;
  font-size: 85px;
  text-align: center;
  // color: #000000;
  color: rgba(255, 255, 255, 0.95);
  padding: 1.7em;
}


@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 10px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 91px;
    // font-family: 'Dorsa', sans-serif;
    // font-family: 'Monoton', cursive;
    // font-family: 'Rochester', cursive;
    // font-family: 'Amaranth', sans-serif;
    // font-family: 'Julius Sans One', sans-serif;
    // font-family: 'Unica One', cursive;
    // font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    // font-family: 'Monoton', cursive;
    // font-family: 'Sue Ellen Francisco', cursive;
    // font-family: 'Six Caps', sans-serif;
    margin-top: 1.2em;
  }
  section.module.parallax h1 span#free {
    // font-family: 'Monoton', cursive;
    // font-family: 'Rochester', cursive;
    // font-family: 'Amaranth', sans-serif;
    // font-family: 'Julius Sans One', sans-serif;
    // font-family: 'Unica One', cursive;
    // font-family: 'Alegreya Sans SC', sans-serif;
    // font-family: 'Montserrat Alternates', sans-serif;
    // font-family: 'Monoton', cursive;
    // font-family: 'Sue Ellen Francisco', cursive;
    // font-family: 'Six Caps', sans-serif;
    // font-family: 'Dorsa', sans-serif;
    font-family: 'Vibur', cursive;
    // font-family: 'Baloo Chettan', cursive;
    font-size: 150px;
    color: rgb(186, 236, 236);
    text-transform: capitalize;
    opacity: .9;
  }
  section.module.parallax h1 span#for {
    letter-spacing: -9px;
    margin-left: -.1em;
    text-decoration: underline;
  }
  section.module.parallax h1 span#all {
    font-size: 150px;
    color: rgb(186, 236, 236);
    text-transform: capitalize;
    opacity: .9;
    font-family: 'Vibur', cursive;
    margin-left: -.25em;
  }
}



/* ==========================================
SHOW PAGE
========================================== */
.bck-btn{
  margin-top: -3em;
}
.btn a:hover{
  background-color: transparent;
  color: gray;
}

.post-title {
  font-size: 35px;
  text-align: center;
  margin-top: -1em;
  text-transform: uppercase;
  font-family: 'Mukta Vaani', sans-serif;
}

.post-description {
  text-align: justify;
  height: 45%;
  font-family: 'Mukta Vaani', sans-serif;
  font-size: 17px;
  margin: 3em 10em 3em 10em;
}

.post-image {
  margin-left: 5em;
}

.map-stuff {
  margin-top: -33.5em;
  margin-right: 5em;
  text-align: right;

}

img.mape{
  height: 374px;
  width: 484px;
}

.post-location {
  font-family: 'Mukta Vaani', sans-serif;
  font-size: 19px;
}

#contact-poster{
  // width: 100%;
  // display: inline-flex;
  // margin-left: 41em;
}

#contact-poster p {
  font-size: 15px;
  text-align: center;
}

#edit {
  margin-top: 8em;
  margin-left: 41em;
}

form {
  // margin-left: -17em;
  margin-top: 2em;
}

form input {

}

.show-field input{
  width: 19em;
}

.show-field textarea {
  width: 19em;
  height: 10em;
}


/* ===================================
THANKS
=================================== */
.thanks h1 {
  color: green;
  font-size: 53px;
}


.banana img{
  max-height: 200px;
  max-width: 200px;
  margin-left: 40em;
  margin-top: 2em;
}

.thanks h4{
  text-align: center;
  margin-top: 4em;
}

.back {
  margin-left: 44em;
  margin-top: 2em;
}



/* ===================================
NEW
=================================== */

div.field{
  margin-left: 18em;
  margin-top: 3em;
}

div.show-field{
  // margin-left: 18em;
  // margin-top: 3em;
}

.show-field {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Mukta Vaani', sans-serif;
  font-size: 15px;
  margin-left: -1em;
}

div.actions {
  margin-left: 50em;
  margin-top: 3em;
}

button.form-back {
  margin-top: 3em;
}

.field p {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Mukta Vaani', sans-serif;
  font-size: 15px;
}

.field {
  text-align: center;
}

input[type=file]{
  margin-left: 28.2em;
}

input[type=button], input[type=reset], input[type=submit]{
  background-color: #7ac4dc;
  color: white;
  border: none;
  font-size: 14px;
  border-radius: 24px;
  padding: 0.5em;
  // margin-left: 7em;
}

.show-submit {
  width: 100%;
  text-align: center;
}
