// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#items {
  display: inline-block;
  min-width: 31.1%;
  max-width: 31.1%;
  margin: .9em;
  padding: 5em;
  border: solid .1px;
  margin-top: 5em;
  border-radius: 3%;
  padding-top: 4em;
}

div #center {
  text-align: center;
  margin-top: -1em;
}

.table {
    display: table;
}

.row {
    display: table-row;
}

.column {
    display: table-cell;
    vertical-align: top;
}

#new-post {
  float: right;
  padding-bottom: .5em;
}

#img-here {
  color: lightgreen;
}

#img-none {
  color: red;
}

#link {
  text-align: center;
}

.btn{
  background-color: teal;
  a {
    color: white;
  }
  a:visited {
    color: white;
  }
}

h1 {
  width: 100%;
  text-align: center;
}

img {
  max-width: 400px;
  max-height: 400px;
}

hr {
  border-color: #b7b6b6;
}

#deets a{
  color: purple;
}

#notice {
  padding: 1em;
  margin-bottom: 1.7em;
  text-align: center;
}

/* =======================================
NEW POST FORM
======================================= */
